
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d9f2ee;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.card img {
    width: 300px;
    height: 350px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    border-radius: 9px;
}

.card h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #333;
}

.card p {
    font-size: 1em;
    color: #777;
    margin-bottom: 15px;
}

.card button {
    padding: 10px 20px;
    background-color: #0e6253;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0e6253;
}
